body {
	font-family: Verdana;
	font-size: 14px;
	margin: 0;
}

.hidden {
	display: none;
}

.inline-block {
	display: inline-block !important;
}

.game {
	width: 500px;
	margin: 0 auto;
	border: 2px solid #ccc;
}

.game-header {
	color: #000;
	background-color: #ECECEC;
	font-size: 15px;
	border: 1px solid #ccc;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 2px solid #ccc;
}

.game-title {
	text-align: left;
}

.game-score-board, .game-score {
	float: right;
}

.game-score {
	margin-left: 5px;
}

.game-highest-score {
	margin-right: 5px;
}

.buildings {
	position: relative;
	background-color: #F5F5F5;
}

#first-building, #second-building {
	z-index: 2;
	background-color: #999;
	display: inline-block;
	bottom: 0;
	position: absolute;
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out
}

#first-building__mid-spot, #second-building__mid-spot {
	width: 6px;
	height: 6px;
	position: absolute;
	background-color: red;
	left: 0;
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out
}

#bridge {
	background-color: #777;
	width: 3px;
	position: absolute;
}

.rotate-90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.rotate-180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.game-end {
	display: none;
}

.game-over {
	font-size: 18px;
	color: #444;
	left: 40%;
	top: 40%;
	position: absolute;
}

.game-restart {
	background-color: #B5B5B5;
	border: 2px solid #616161;
	color: #000;
	font-size: 18px;
	top: 45%;
	left: 38.7%;
	position: absolute;
	padding: 15px;
	border-radius: 5px;
}
.game-restart:hover {
	background-color: #DADADA;
	color: #504F4F;
}

.game-bonus-point {
	color: red;
	top: 2%;
	left: 42.7%;
	font-size: 14px;
	position: absolute;
}

.game-bonus-point-anim {
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.5s; /* Firefox < 16 */
	-ms-animation: fadein 1.5s; /* Internet Explorer */
	-o-animation: fadein 1.5s; /* Opera < 12.1 */
	animation: fadein 1.5s;
}

@keyframes fadein {
	from { opacity: 1; }
	to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 1; }
	to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 1; }
	to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 1; }
	to   { opacity: 0; }
}

.intro {
	position: absolute;
	top: 5%;
	left: 25%;
	text-align: center;;
}

.intro.anim {
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.5s; /* Firefox < 16 */
	-ms-animation: fadein 1.5s; /* Internet Explorer */
	-o-animation: fadein 1.5s; /* Opera < 12.1 */
	animation: fadein 1.5s;
}

/* WAVE efect */
#ocean{
	z-index: 1;
	bottom: 0;
	position: absolute;
	width: 100%;
	min-height:20%;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #C6E3FD),
		color-stop(0.50, #7FC4F3)
	);
}

.wave{
	background:#F5F5F5;
	display:inline-block;
	height:60%;
	width:10px;
	position:absolute;
	-webkit-animation-name:             wave-essect;
	-webkit-animation-duration:         3s;
	-webkit-animation-iteration-count:  infinite;
	-webkit-transition-timing-function: ease-in-out;
}


@-webkit-keyframes wave-essect{
	0%{
		height:60%;
	}
	50%{
		height:100%;
	}
	100%{
		height:60%;
	}
}
